<!DOCTYPE html>
<html>

	<meta charset="UTF-8">
	<meta name="description" content="HackPrinceton 2015">
	<meta name="keywords" content="HackPrinceton 2015">
	<meta name="author" content="Vsevolod Ivanov">
	<meta name="author" content="Andrei Savin">

	<link rel="stylesheet" href="base.css">

	<head>
		<title>HackPrinceton 2015</title>
	</head>
	
	<body>
		<div id="header">
			<div id="menu">
				<header>HackPrinceton 2015 <small><small>by Quebec Team</small></small></header>
			</div>
		</div>

		<!-- Content -->
		<div id="content">
			<div id="left-image-hash" class='sides'>
				<img src=""></img>
			</div>
			<div id="right-image-hash" class='sides'>
				<img src=""></img>
			</div>
		</div>

	</body>
</html>
